---
layout: pages
title: "Thể loại: 2DCG"
---

{% assign filtered_posts = "" | split: "" %}

{% for post in site.posts %}

  {% if post.genre %}

    {% assign genres = post.genre | downcase | split: "," %}

    {% for genre in genres %}

      {% assign clean_genre = genre | strip %}

      {% if clean_genre == "2dcg" %}

        {% assign filtered_posts = filtered_posts | push: post %}

        {% break %}

      {% endif %}

    {% endfor %}

  {% endif %}

{% endfor %}

{% assign site.posts = filtered_posts %}
